/* Colors */
:root {
  --darkGunmetal: #122932;
  --blackCoral: #576066;
  --queenBlue: #386fa4;
  --middleBlue: #80ced7;
  --mintCream: #f7fff7;
  --platinum: #e0e2e3;
}

/* Banner */
.hero {
  height: 40vh;
  border-bottom: solid 2px var(--darkGunmetal);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #12293250;
}

.title {
  height: fit-content;
  color: var(--mintCream);
  font-size: 1.5em;
  text-align: center;
}
