/* Banner */
.hero {
  height: 40vh;
  border-bottom: solid 2px var(--darkGunmetal);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #12293250;
}

.title {
  height: fit-content;
  padding: 10px;
  color: var(--mintCream);
  font-size: 1.5em;
  text-align: center;
}

/* Tag */

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  background-color: var(--darkGunmetal);
}

.tag_text {
  text-align: center;
  color: var(--mintCream);
  font-weight: lighter;
  font-size: 0.8em;
}

/* Tablets */
@media only screen and (min-device-width: 768px) {
  .title {
    font-size: 3em;
  }
  .tag_text {
    font-size: 1.2em;
  }
}
