/* Page Details */

.park_details {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

h2 {
  margin: 10px 0px 10px 0px;
}

.park_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_title {
  margin: 5px 0 5px 0;
}

.overview,
.directions,
.feedback {
  width: 90%;
  margin: 15px auto 0 auto;
}
