/* Colors */
:root {
  --darkGunmetal: #122932;
  --blackCoral: #576066;
  --queenBlue: #386fa4;
  --middleBlue: #80ced7;
  --mintCream: #f7fff7;
  --platinum: #e0e2e3;
}

/* Page Details */

.park_details {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin: 10px 0px 10px 0px;
}

.park_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_title {
  margin: 5px 0 5px 0;
}

.overview,
.directions {
  width: 90%;
  margin: 0 auto 0 auto;
}
