/* Navigation */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 100%;
  padding: 0 5px 0 5px;
  background-color: var(--darkGunmetal);
}

.navigation_list {
  list-style-type: none;
}

.nav_logo {
  float: left;
}

.nav_li {
  float: right;
  font-size: 1em;
}

li a {
  display: block;
  padding: 8px;
  color: var(--mintCream);
  text-decoration: none;
}
/* Tablets */
@media only screen and (min-width: 768px) {
  li a {
    font-size: 1.1em;
  }
  .nav_li {
    padding: 5px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  li a {
    font-size: 1.5em;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  li a {
    font-size: 1.5em;
  }
}
