/* Dropdown selector for states on homepage */
.state_selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  color: var(--darkGunmetal);
  margin: 15px auto 15px auto;
}

.selected_state {
  text-align: center;
  font-size: 1.5em;
}

.state_selector_label {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
