/*Styles for the loading animation8*/
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.loader_animation {
  margin-top: 15px;
}

.hp_demo_user {
  text-align: center;
}
